{% extends "daughter.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">Главная</a> <span class="divider">/</span></li>
        <li class="active">О компании</li>
    </ul>
    <h1>О компании</h1>

    <p>Компания ООО «Нержавейка ДВ» - коммерческое предприятие, которое работает в сфере производства и монтажа изделий из нержавеющего металла любой сложности и конструкции, а так же изделий из других различных сталей.</p>
    <p>Также наша компания предлагает свои услуги не только в нашем городе, но и по всему Дальнему Востоку: Комсомольск-на-Амуре, Сов. Гавань, Ванино, Биробиджан, Владивосток, Бикин, Чегдомын, Уссурийск, Якутск, Амурск, Охотск и другие города и поселения нашего региона.</p>
    <h5>Наш девиз:</h5>
    <p class="lead">Индивидуальный подход и удовлетворение потребностей каждого клиента!</p>
    <p>Наша компания использует самые современные технологии, условия и грамотных специалистов для реализации своей цели.</p>
    <p>Специалисты, работающие в нашей компании, способны разработать и изготовить любые нестандартные изделия из любого металла. Мы выполняем и единичные конструкции, и оптовые заказы, а также осуществляем производства  типовых и нестандартных металлоизделий по проекту или по эскизам  заказчика, с учетом всех его требований и пожеланий, в соответствии со всеми стандартами качества и безопасности.</p>
    <p>Мы несем ответственность за качество, и поэтому реализуем продукцию полностью соответствующую стандартам ГОСТ и СНиП.</p>


    <h5>Преимущества компании ООО «Нержавейка ДВ»</h5>

    <ul>
        <li>собственная производственная база</li>
        <li>широкий перечень предлагаемой продукции и услуг</li>
        <li>индивидуальный подход к пожеланиям заказчика</li>
        <li>сотрудничаем с производителями высококачественных материалов и комплектующих</li>
        <li>индивидуальное ценообразование и условие оплаты</li>
        <li>высококлассифицированный персонал</li>
        <li>работы с наиболее востребованными марками нержавеющей стали</li>
        <li>разработка нестандартных изделий</li>
        <li>возможны мелкосерийное  и единичное производство продукции</li>
        <li>возможны оптовые заказы</li>
        <li>планирование монтажа точно в срок</li>
    </ul>

    <p><em>Мы уверены, что компания ООО «Нержавейка ДВ» станет для Вас постоянным, экономически выгодным и надежным партнером!</em></p>


    <h5>Контакты:</h5>
    <p class="offset1">
        <strong>ОГРН:</strong> 1122723007120<br>
        <strong>ИНН/КПП:</strong> 2723154694/272301001<br>
        {% include "site/contacts.html" %}
    </p>

{% endblock %}