{% extends "main.html" %}

{% block content %}
    <h2>Как к нам добраться?</h2>
    <p>
        {% include "site/contacts.html" %}
    </p>
    <p>
        {% include 'site/map.html' %}

    </p>

    <!--<h2>Что о нас говорят?</h2>
    <div class="comeent">
        <div class="coment-item">
            <p class="muted"><i class="icon-comment"></i> Юлия (yuliya48lip@mail.ru)</p>
            <p class="offset1">Сегодня сдала экзамен в ГАИ с первой попытки! Большое спасибо инструктору
                Александру и преподавателю теории Павлу Валерьевичу
                за терпение и поддержку! Автошкола отличная,к
                каждому человеку свой подход и грамотные педагоги, ни разу не пожалела,
                что училась именно в Лидере!</p>
        </div>

        <div class="coment-item">
            <p class="muted"><i class="icon-comment"></i> Светлана (lipetskASS@yandex.ru)</p>
            <p class="offset1">Мне очень поравилась эта автошкола. Пришла без знаний в ПДД и в вождении.
                За 20часов вождения, все навыки приобрела. Хотела сказать спасибо преподавателю по
                теории Игорю Юрьевичу (филиал на Соколе) и инструктору Максиму. СПАСИБО!!!
                Завтра получаю заветные права.</p>
        </div>

        <p><a href="#">Остальные отзывы.</a></p>
    </div>-->

    <hr />

    <h4>ООО «Нержавейка ДВ» рада приветствовать Вас на сайте нашей компании!</h4>
    <p>Здесь Вы сможете найти наши контакты, услуги и массу другой полезной информации об изделиях из цветного и черного металла.</p>
    <p>Основным преимуществом нержавеющего металла по сравнению с другими материалами является то, что данный металл не дает возможности размножению бактерий, поэтому они очень востребованы как в местах с большим количеством людей, так и в маленьких помещениях; за такими изделиями легко ухаживать и они являются более долговечными в качестве и привлекательности.</p>
    <p>Поэтому в последние годы именно изделия из нержавеющей стали наиболее актуальны, также они отлично смотрятся в любом помещении с различным интерьером.</p>
    <p>Для целевой аудитории, на которую рассчитана наша продукция, нет ограничений. С нами может работать любой желающий: будь то частная фирма, коммерческое или физическое лицо.</p>
    <p>Наша компания подбирает индивидуальный подход к каждому потенциальному клиенту и выполняет весь комплекс услуг, начиная с замера объекта, разработки проекта и заканчивая качественным монтажом в обговоренный срок.</p>
    <p>На сегодняшний день очень активно развивается строительная промышленность: строительство больниц, школ, центров развлечений и т.д.. И многие хотят привлечь покупателей, декорировав помещения интересными интерьерами и креативными решениями. Именно для этого и нужна наша компания. Мы можем предложить разнообразие лестничных ограждений: сварные, леерные, со стеклом; огромный ассортимент лестниц: современные маршевые, спиральные и комбинированные варианты лестниц разнообразных моделей и размеров. Удобные чердачные конструкции лестниц. Современные отбойные конструкции (для мед.учреждений) и опорные конструкции для инвалидов. Так же индивидуальные изделия любой сложности и конструкции, которые бы могли придумать заказчики.</p>
    <p>Все эти изделия из нержавеющего металла сделают Ваше здание более заметным, дорогим, привлекательным и удобным не только для Вас, но и для Ваших посетителей.</p>

{% endblock %}