<ul id="men">
    <li class="men-li"><a class="men-a" href="/">Главная</a></li>
    <!--<li class="dropdown men-li">
        <a data-toggle='dropdown' class="dropdown-toggle men-a" href="#">Виды работ</a>
        <ul class="dropdown-menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Виды работ</a></li>
            <li><a href="#">Статьи</a></li>
            <li><a href="#">Ценны</a></li>
            <li class="last"><a href="#">Отзывы</a></li>
        </ul>
    </li>-->
    <li class="men-li"><a class="men-a" href="/portfolio/">Виды работ</a></li>
    <li class="men-li"><a class="men-a" href="/article/">Статьи</a></li>
    <li class="dropdown men-li">
        <a data-toggle='dropdown' class="dropdown-toggle men-a" href="/feedback/">Связаться с нами</a>
        <ul class="dropdown-menu">
            <li><a class="fos_click" href="#">Задать вопрос</a></li>
            <li><a class="callback_click" href="#">Заказать обратный звонок</a></li>
        </ul>
    </li>
    <li class="last men-li"><a class="men-a" href="/company/">О компании</a></li>
</ul>