{% if is_admin_panel %}
        {% if 'all' in is_admin_panel or 'add_item' in is_admin_panel %}
            <a href="#"
               data-original-title="Добавить новую услугу"
               data-button="data_types_services_button_is_admin_panel"
               id="types_services-to_form_add_item"
               class="btn btn-mini btn-info admin_button">
                Добавить новую услугу
            </a>
            <script type="text/javascript">
                var data_types_services_button_is_admin_panel = [
                    {name: 'Сохранить', attr:'type="submit" name="save"', class:'btn-primary'},
                    {name: 'Применить', attr:'type="submit" name="aply"', class:'btn-warning'}
                ]
            </script>
        {% endif %}
{% endif %}